.header {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 100px;
    max-width: 800px;
}

.h1-name { text-align: center }

.contacts {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

.contacts-content {
    padding-left: 50px;
}

.contacts-data {
    font-weight: bold;
}

.content-block {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}
